*/version.txt
*.pyc
*.swp
build/
dist/
.coverage
.ipynb_checkpoints
*.iml
groupama/data/base_pno.*
.DS_Store
.idea/
raw_data/
greenr/api_key.pk
notebooks/
greenr/df_recorded_similarities.pk
df_recorded_similarities.pk
api_key.pk
mongo_pwd.pkl
greenr/mongo_pwd.pkl
.env
