body {
    color: #FFFFFF;
    background-color: #1cbd47;
}

.stButton>button {
    color: #525252;
    border-radius: 75%;
    height: 3em;
    width: 3em;
    outline-color: #525252;
}

.stTextInput>div>div>input {
    color: #525252;
}

.sidebar .sidebar-content {
    background-image: linear-gradient(#1cbd47,#485934);
    color: white;
}

.stSpinner>spinner {
  color: #FFFFFF
}
