body {
    color: #ed0707;
    background-color: #1cbd47;
}

.stButton>button {
    color: #ed0707;
    border-radius: 75%;
    height: 3em;
    width: 3em;
}

.stTextInput>div>div>input {
    color: #ed0707;
}


.sidebar .sidebar-content {
    background-image: linear-gradient(#1cbd47,#1cbd47);
    color: white;
}
.stSpinner>spinner {
  color: #4F8BF9

}
